<div class="row">
<div class="span8 well offset1">
  <p>Comments(<%= @question.comments.size %>)</p>
  <small>
    <% @question.comments.each do |comment| %>
    <p class="comment"><%= comment.body %>Comment by</p>
      <div class="row">
        <div class="span8">
          <hr>
        </div>
      </div>
      <% end %>
    
      <%= render partial: 'comments/form' %>
    
  </small>
</div>
</div>
