<div class="tag">  
  <% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <div class="post-tag">
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    </div>
  <% end %>
</div>
