<% provide(:title,"Questions") %>

<h1>Listing Questions</h1>

<div class="questions">
  <% @questions.each do |question| %>
  <div class="title">
    Title:
    <%= question.title %>
  </div>
  <div class="body">
    Body:
    <%= question.body %>
    <span class="timestamp"><%= time_ago_in_words(question.created_at) %> ago</span>
  </div>
  
  <% end %>
</div>
