<% provide(:title,)%>
<p id="notice"><%= notice %></p>
<div class="row well">
  <div class="span12 ">
    <%= render partial: 'question' %>
    </br> 
    <div class="row">
      <div class="span11">
      <hr>
      </div>
    </div>
    
    <%= render partial: 'comment', collection: @question.comments %>
    </br> 
    <div class="row">
      <div class="span11">
      <hr>
      </div>
    </div>
    
    <%= render partial: 'answer' %>
  </div>
</div>
