<% provide(:title,)%>
<p id="notice"><%= notice %></p>
<div class="row rtl">
  <div class="span12">
    <%= render partial: 'questions/question' %>
    
    <%= render partial: 'questions/comment' %>
    </br> 
    <%= render partial: 'questions/answer' %>
  </div>
</div>
