<% provide(:title, 'Contact')%>
<div class="rtl">
  <h1>Contact Us</h1>
  <p> 
مشکلات  را چگونه گزارش بدهم؟
با توجه به متن‌باز بودن ، شما می‌توانید با مراجعه به<a href="https://github.com/AR-H/QA"> صفحه ما </a>در گیت‌هاب، آن‌ها را برای ما ارسال کنید.
  </p>
</div>
