<% provide(:title, 'Contact')%>
<div class="rtl">
  <legend>ارتباط با ما</legend>
  <li><p> 
مشکلات  را چگونه گزارش بدهم؟
با توجه به متن‌باز بودن ، شما می‌توانید با مراجعه به <%= link_to "صفحه‌ ما", "https://github.com/AR-H/QA", :target => "_blank"%> در گیت‌هاب، آن‌ها را برای ما ارسال کنید.
  </p>
  <li><p>پیشنهادات و انتقادات خود را به این ایمیل ارسال کنید.</p>
  
</div>
