<% provide(:title, 'FAQ')%>

<h3>  اگر شما کاربر تازه کار هستید بهتر است پیش از پرسیدن پرسش خود به لینک‌های زیر مراجعه کنید</h3>
<a href="http://wiki.ubuntu-ir.org/SmartQuestions"><p>چگونه هوشمندانه سوال کنیم</p></a>
<a href="http://lwn.azadrahkar.org/"><p>لینوکس ویندوز نیست</p></a>
<a href="http://www.linuxbook.ir/doku.php"><p>راهنمای هکرها و گیک ها برای لینوکس و زندگی</p></a>

