<% provide(:title, 'FAQ')%>
<div class="rtl">
  <h3>اگر شما کاربر تازه کار هستید بهتر است پیش از پرسیدن پرسش خود به لینک‌های زیر مراجعه کنید.</h3>
    <li><p><%= link_to t('.squestion'), "http://wiki.ubuntu-ir.org/SmartQuestions", :target => "_blank"%></p>
    <li><p><%= link_to t('.linux'), "http://lwn.azadrahkar.org/", :target => "_blank"%></p>
    <li><p><%= link_to t('.linuxandlife'), "http://www.linuxbook.ir/doku.php", :target => "_blank"%></p>
</div>
