<% provide(:title, 'Home')%>
<div class="center hero-unit">
  <h1>Welcome to the Question & Answer</h1>
  
  <h2>This is the home page for the Question and Answer website</h2>
  
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Questions", questions_path, class: "btn btn-large btn-primary" %>
</div>

   
