<% provide(:title, 'Home')%>
<div class="center hero-unit">
<%= link_to "Ask Question", "questions/new", class: "btn btn-primary" %>
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to "Questions", questions_path %>
    </li>
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Tags"%></li>
  </ul>
  
</div>

   
