<%= simple_form_for [ @question, @comment ] do |f| %>
  
  <%= f.input :body, label: false, :input_html => { :class => "span7",rows: 3 }, placeholder: 'Your comment' %><br/>
  <p>
    <%= f.submit 'Comment',class: "btn btn-small btn-primary" %>
  </p>
<% end %>
