/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

.digit {
font-size: 14px;
text-align: center;
margin-right: 9px;
padding: 5px;
list-style: none;
padding: 10px 0;
padding-top: 10px;
}

#questions {
        text-align: right;
}

