<footer class="footer">
  <small>
     <a href="https://github.com/AR-H">AR-H</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('.about'), about_path %></li>
      <li><%= link_to t('.contact'), contact_path %></li>
    </ul>
  </nav>
</footer>
